  <nav class="taskbar">
      <a href="/">wuz.sh</a>
    <a href="/copy">[CC BY-SA 4.0]</a>
    <a href="/about" >about</a>
    <a href="/projects" >projects</a>
    <a href="#elsewhere" >elsewhere</a>
    <a href="/sonar" >sonar</a>
  </nav>
